<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        (click)="onToggleShow()"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        {{ title }}
      </button>
    </h2>
    <div
      id="collapseOne"
      [ngClass]="
        show
          ? 'accordion-collapse collapse show'
          : 'accordion-collapse collapse'
      "
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

<div class="zippy">
  <div (click)="onToggleShow()" class="zippy-heading">
    {{ title }}
    <span
      ><i
        [ngClass]="show ? 'bi bi-arrow-down-circle' : 'bi bi-arrow-up-circle'"
      ></i
    ></span>
  </div>
  <div *ngIf="show" class="zippy-body">
    <ng-content></ng-content>
  </div>
</div>
